<div class="gvr-header">
    <div class="gvr-header__background">
        <video src="<%= path %>/assets/header_video.mp4" autoplay muted></video>
    </div>
    <div class="gvr-header__inner">
        <div class="gvr-header__text">
            <h2 class="gvr-header__g">theguardian<span>vr</span></h2>
            <h1 class="gvr-header__title">step inside the story</h1>
        </div>
        <img class="gvr-header__logo" src="<%= path %>/assets/logo.png" />
    </div>
</div>
<div class="gvr-strip gvr-strip--how">
    <div class="gvr-content gvr-how">
        <img class="gvr-how__img" src="<%= path %>/assets/gvr-illo.png" />
        <h2>How to watch</h2>
        <p class="gvr-big">
            You can watch the Guardian's virtual reality projects. Use
            with a phone and a virtual reality headset.
        </p>
        <div class="gvr-cf"></div>
    </div>
</div>
<div class="gvr-strip gvr-strip--project gvr-strip--6x9 gvr-strip--active">
    <div class="gvr-content gvr-vr">
        <h2 class="gvr-vr__title">6&times;9</h2>
        <h3 class="gvr-vr__subtitle">
            A virtual experience of solitary confinement
        </h3>
        <button class="gvr-vr__expandbtn">Explore</button>
        <p class="gvr-vr__description">
            More than 80,000 people are in solitary confinement in the
            US. They spend 22 to 24 hours a day in their cells, with little
            to no human contact for days &mdash; or even decades
        </p>
        <button class="gvr-vr__trailerbtn">Play trailer</button>
        <button class="gvr-vr__previewbtn">Watch the preview</button>
        <div class="gvr-vr__extras">
            <div class="gvr-vr__extras__left">
                <h2>Further reading</h2>
                <ul class="gvr-reading">
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                    <li class="gvr-reading__item">
                        <p>The men who keep London's sewers going</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gvr-strip gvr-strip--project gvr-strip--underworld">
    <div class="gvr-content gvr-vr">
        <h2 class="gvr-vr__title">Underworld</h2>
        <h3 class="gvr-vr__subtitle">
            A virtual exploration of London's sewers
        </h3>
        <button class="gvr-vr__expandbtn">Explore</button>
    </div>
</div>
<div class="gvr-strip gvr-strip--about">
    <div class="gvr-content gvr-about">
        <h2>The Guardian and VR</h2>
        <p class="gvr-big">
            Our independent ownership means that we can pursue a virtual
            reality story without fear of where virtual stories might
            take us.
        </p>
        <ul class="gvr-cols">
            <li class="gvr-cols__item">
                <h3>What is VR?</h3>
                <p>
                    Virtual Reality (VR) is the use of computer technology
                    to create a simulated environment. Unlike traditional
                    user interfaces, VR places the user inside an experience.
                    Instead of viewing a screen in front of them, users are
                    immersed and able to interactive with 3D worlds.
                </p>
            </li>
            <li class="gvr-cols__item">
                <h3>What is VR?</h3>
                <p>
                    Virtual Reality (VR) is the use of computer technology
                    to create a simulated environment. Unlike traditional
                    user interfaces, VR places the user inside an experience.
                    Instead of viewing a screen in front of them, users are
                    immersed and able to interactive with 3D worlds.
                </p>
            </li>
            <li class="gvr-cols__item">
                <h3>What is VR?</h3>
                <p>
                    Virtual Reality (VR) is the use of computer technology
                    to create a simulated environment. Unlike traditional
                    user interfaces, VR places the user inside an experience.
                    Instead of viewing a screen in front of them, users are
                    immersed and able to interactive with 3D worlds.
                </p>
            </li>
            <li class="gvr-cols__item">
                <h3>What is VR?</h3>
                <p>
                    Virtual Reality (VR) is the use of computer technology
                    to create a simulated environment. Unlike traditional
                    user interfaces, VR places the user inside an experience.
                    Instead of viewing a screen in front of them, users are
                    immersed and able to interactive with 3D worlds.
                </p>
            </li>
        </ul>
    </div>
</div>
