.gvr-header {
    position: relative;
    color: white;
    background-size: cover;
    height: 300px;
    overflow: hidden;
    @include mq(tablet) {
        height: 90vh;
        min-height: 600px;
    }
    @include mq(mobile) {
        height: auto;
        padding-bottom: 20px;
    }
}

.gvr-header__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    video {
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%)
    }
}

.gvr-header__inner {
    font-size: 0;
    height: 100%;
    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.gvr-header__text {
    display: inline-block;
    vertical-align: middle;

    @include mq(mobile) {
        width: 100%;
    }

    @include mq(tablet) {
        margin-top: 60px;
        width: 700px;
    }
    @include mq(leftCol) {
        // margin-top: -30px;
    }
}

.gvr-header__g {
    margin: 0;
    img {
        height: 24px;
    }
    @include mq(mobile) {
        img {
            display: none;
        }
    }
    @include mq(tablet) {
         img {
            display: block;
        }
    }
}

.gvr-header__title {
    font-family: "Guardian Egyptian Web", Georgia, serif; // @include f-sans;
    line-height: 1.1;
    font-size: 40px;
    color: #f6f6f6;
    width: 500px; // border-top: solid 1px rgba(255,255,255,0.2);
    // min-height: 84px;
    margin: 0;
    margin-top: 5px;
    span {
        // color: #43C6E1;
    }
    @include mq(mobile) {
        font-size: 32px;
        width: 100%;
        font-weight: bolder;
    }

    @include mq(tablet) {
        font-weight: lighter;
        width: 500px;
        font-size: 55px; // min-height: 180px;
    }
    @include mq(desktop) {
        font-size: 60px;
    }
    @include mq(leftCol) {
        min-height: 0;
    }
}

.gvr-header__strap {
    // @include f-sans;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 5px;
    width: 485px;
    margin-top: 10px;
    color: #f6f6f6;
    @include mq(mobile) {
        width: 100%;
    }
    @include mq(tablet) {
        width: 500px;
    }
}

.gvr-header__links {
    position: absolute;
    bottom: 30px;
    h2 {
        color: #ccc;
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        @include f-sans;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    a {
        padding: 0 15px;
        margin-right: 10px;
        border-radius: 5px;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.1);
        display: inline-block;
        height: 50px;

        &:hover {
            background: rgba(0, 0, 0, 0.5);
            border: solid .5px rgba(255, 255, 255, 0.5);
        }
    }

    img {
        margin-top: 10px;
        height: 30px;
        display: inline-block;
    }
    p {
        position: relative;
        top: -10px;
        margin-left: 10px;
        color: #fff;
        display: inline-block;
        @include f-sans;
        font-weight: 500;
        font-size: 16px;
    }
}

.gvr-header__logo {
    position: absolute;
    top: 40px;
    width: 42px;
    right: 10px;
    @include mq(tablet) {
        right: 20px;
        width: 60px;
    }
}