.gvr-vr {
    position: relative;
    height: 100%;
}

.gvr-vr__title,
.gvr-vr__subtitle {
    @include f-sans;
    font-size: 36px;
    line-height: 1;

    @include mq(tablet){
        font-size:42px;
    }

    @include mq(leftCol){
        font-size:48px;
    }
}
.gvr-vr__description{
    @include mq(leftCol){
        font-size:18px;
    }
}

.gvr-vr__title {
    font-weight: bold;
}

.gvr-vr__subtitle {
    font-weight: 200;
}

.gvr-vr__expandbtn {
    padding:0 18px 0 36px;
    background-image:url('<%= path %>/assets/icon_plus-white.svg');
    // background-image: url('<%= path %>/assets/project_6x9.png');
    background-repeat:no-repeat;
    background-position:8px center;
    margin-top:24px;
}

.gvr-vr__trailerbtn {
    background:$gvrPink;
    padding:0 18px 0 42px;
    background-image:url('<%= path %>/assets/icon_play-white.svg');
    background-repeat:no-repeat;
    background-position:12px center;
    margin-top:24px;
}

.gvr-vr__previewbtn {
    background:$gvrPink;
    padding:0 18px 0 36px;
    background-image:url('<%= path %>/assets/icon_tap-white.svg');
    background-repeat:no-repeat;
    background-position:12px center;
    margin-top:6px;
    background-size:14px;
}



.gvr-vr__description {
    margin-top: 24px;
}

.gvr-vr__title,
.gvr-vr__subtitle,
.gvr-vr__description {
    max-width: 420px;

    @include mq(leftCol){
        max-width:620px;
    }
}

.gvr-vr__extras {
    margin-top:60px;

    @include cf;

     @include mq(mobileLandscape) {
        margin-top:120px;
    }

    @include mq(tablet) {
        margin-top:150px;

    }

    h2 {
        margin-bottom: 12px;
    }
}

.gvr-vr__extras__left {
    @include mq(tablet) {
        float: left;
        max-width:740px;
    }
    @include mq(desktop){
        max-width:1140px;
    }
}

.gvr-vr__extras__right {
    @include mq(tablet) {
        overflow: hidden;
    }
}
