.gvr-vr {
    position: relative;
    height: 100%;
}

.gvr-vr__title,
.gvr-vr__subtitle {
    // @include f-sans;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-size: 35px;
    line-height: 1.1;

    @include mq($until:desktop){
        font-size:28px;
    }
}
.gvr-vr__description{
    @include mq(leftCol){
        font-size:18px;
    }
}

.gvr-vr__title {
    font-weight: bold;
    margin:0;
}

.gvr-vr__subtitle {
    font-weight: 200;
    margin:0;
}

.gvr-vr__expandbtn {
    padding:0 18px 0 36px;
    background-image:url('<%= path %>/assets/icon_plus-white.svg');
    // background-image: url('<%= path %>/assets/project_6x9.png');
    background-repeat:no-repeat;
    background-position:8px center;
    margin-top:24px;
}

.gvr-vr__trailerbtn {
    background:$gvrPink;
    padding:0 18px 0 42px;
    background-image:url('<%= path %>/assets/icon_play-white.svg');
    background-repeat:no-repeat;
    background-position:12px center;
    margin-top:24px;
}

.gvr-vr__previewbtn {
    background:$gvrPink;
    padding:0 18px 0 36px;
    background-image:url('<%= path %>/assets/icon_tap-white.svg');
    background-repeat:no-repeat;
    background-position:12px center;
    margin-top:6px;
    background-size:14px;
}



.gvr-vr__description {
    margin-top: 24px;
}

.gvr-vr__title,
.gvr-vr__subtitle,
.gvr-vr__description {
    max-width: 420px;

    @include mq(leftCol){
        max-width:500px;
    }
}

.gvr-vr__extras {
    margin-top:60px;

    @include cf;

     @include mq(mobileLandscape) {
        margin-top:120px;
    }

    @include mq(tablet) {
        margin-top:150px;

    }

    h2 {
        margin-bottom: 12px;
    }
}

.gvr-vr__extras__left {
    margin-bottom:30px;
    max-width:540px;
    @include mq(desktop) {
        float: left;
        min-width: 58%;
    }
    @include mq(leftCol) {
        max-width:740px;
    }
}

.gvr-vr__extras__right {
    li{
        border:none;
        width:100%;
        max-width:none;
        float:none;
        margin-bottom:6px;
        & > a{
            border:none;
            margin:0;
            width:auto;
            padding:10px 18px 10px 27px;
            border-radius:999px;
            background-color:#fff;
            color:#333;
            min-height:0;
            font-size:16px;
            line-height:1em;
            position:relative;
            &:before{
                content:'';
                display: block;
                width:8px;
                height:8px;
                border-radius:1000px;
                background:#ccc;
                position:absolute;
                left:10px;
                top:14px;
            }
        }
    }
    @include mq(desktop) {
        float:right;
        width:300px;
    }
    @include mq(leftCol) {
        float:right;
        width:300px;
    }
     @include mq(wide) {
        width:380px;
    }
}
