@import "mq";
@import "fonts";

$gvrPurple : #3F2961;
$gvrBlue : #4BC6DF;
$gvrPink : #C34A85;

@mixin cf {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@import "header";
@import "vr";

.element-atom {
    margin: 0 !important;
}
button{
    background:#333;
    color:#fff;
    border:none;    
    border-radius:999px;
    height:36px;
    @include f-sans;
    display: inline-block;
}

h2 {
    font-size:24px;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    line-height:1em;

    @include mq(tablet){
        font-size:30px;
    }
}


.gvr-strip {
    overflow-x: hidden;
   

     &.gvr-strip--project {
        .gvr-content{
           min-height:300px; 
        }
        
    }

    &.gvr-strip--how {
        background-color: #44c5e0;
        @include mq(desktop){
            overflow: visible;
        }
    }

    &.gvr-strip--6x9 {
        background-image: url(<%= path %>/assets/project_6x9.png);
        background-size: cover;
        background-position: center;
        position: relative;
        &:before{
            position: absolute;
            content:'';
            display:block;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:rgba(255,255,255,0.5)
        }
    }

    &.gvr-strip--underworld {
        color: white;
        background-color: #333;

        .gvr-vr__expandbtn{
            background-color:#fff;
            color:#333;
            background-image:url(assets/icon_plus-black.svg)
        }
    }

    &.gvr-strip--about {
        color: white;
        background-color: #b81b66;
        @include mq(desktop) {
            background-image: url(<%= path %>/assets/vr.png);
            background-size: auto 100%;
            background-position: left center;
            background-repeat: no-repeat;
        }
        h3{
            font-size:21px;
            font-family: "Guardian Egyptian Web", Georgia, serif;
            line-height:1em;
            font-weight:bold;
            margin-top:30px;
            margin-bottom:9px;
        }
    }

    &.gvr-strip--active{
        .gvr-vr__expandbtn{
            display:none;
        }  
    }
}

.gvr-cf {
    @include cf;
}

.gvr-big {
    @include f-sans;
    font-weight: 200;
    line-height: 39px;
    font-size: 36px;
    @include mq(tablet) {
        font-size: 42px;
        line-height:48px;
    }
}

.gvr-content,
.gvr-header__inner {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

    padding: 12px 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.gvr-content {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2000px;
        background-color: transparentize(white, 0.8);
    }
    &::before {
        right: 100%;
    }
    &::after {
        left: 100%;
    }
}

.gvr-how {
    padding-bottom:30px;
    color:$gvrPurple;
    @include f-sans;
    @include mq(tablet){
        padding-bottom:48px;
    }
    @include mq(desktop){
        .gvr-big{
            margin-right:280px;
        }
    }
    
}

.gvr-how__img {
    position: absolute;
    bottom:0;
    right:0;
    width:180px;
    opacity:0.4;

    @include mq(tablet) {
        width:200px;
        right:20px;
    }
    @include mq(desktop) {
        width:280px;
        right:20px;
        opacity:1;
    }
}

.gvr-reading,
.gvr-cols {
    @include cf;

    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(tablet) {
        margin-right: -20px;
    }

}
.gvr-cols__item {
    margin-top: 24px;
    @include mq(tablet) {
        width: 50%;
        box-sizing: border-box;
        padding-right: 20px;
        float: left;
    }
}

.gvr-reading {
    @include f-sans;
    font-size: 15px;
}

.gvr-reading__item {
    line-height:1em;
    & > p {
        border-top: 1px solid #333;
        padding-top:3px;
        margin-bottom:12px;
    }
    @include mq(tablet) {
        width: (100% / 3);
        max-width:240px;
        box-sizing: border-box;
        padding-right: 20px;
        float: left;
    }
    @include mq(leftCol){
        width:320px;
        max-width:none;
        font-size:18px;
        & > p{
            margin-bottom:18px;
        }
    }
}

.gvr-about {
    @include mq(desktop) {
        padding-left: 260px;
    }
     @include mq(leftCol) {
        padding-left: 340px;
    }
}
