@import "mq";
@import "fonts";

$gvrPurple : #3F2961;
$gvrBlue : #4BC6DF;
$gvrPink : #C34A85;

@mixin cf {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@import "header";
@import "vr";

.element-atom,.interactive-atom {
    margin: 0 !important;
}
button{
    background:#333;
    color:#fff;
    border:none;    
    border-radius:999px;
    height:36px;
    outline:none;
    @include f-sans;
    display: inline-block;
    cursor:pointer;
    font-size:16px;
    &:hover{
        text-decoration: underline;
    }
}

h2 {
    font-size:24px;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    line-height:1em;

    @include mq(tablet){
        font-size:30px;
    }
}


.gvr-strip {
    overflow-x: hidden;
   

     &.gvr-strip--project {
        position: relative;
        .gvr-project--container{
            min-height:240px; 
            max-height:300px;
            overflow: hidden;
            will-change:max-height;
        }
        
        .gvr-vr__extras,.gvr-vr__trailerbtn,.gvr-vr__previewbtn,.gvr-vr__description{
            display:none;
        }
    }

    .gvr-lightbox__container{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.8); 

        .gvr-lightbox__video{
            max-width:300px;
            width:100%;
            background:#333;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            display: none;
            .gvr-video__container{
                width:100%;
                padding-bottom:56.25%;
            }
            iframe{
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }
            @include mq(tablet){
                max-width:480px;
            }
            @include mq(desktop){
                max-width:620px;
            }
            @include mq(leftCol){
                max-width:780px;
            }
            @include mq(wide){
                max-width:940px;
            }
        }
        .gvr-lightbox__close{
            width:40px;
            height:40px;
            background:#ccc;
            border-radius:20px;
            position: absolute;
            top:-50px;
            right:0;
            cursor:pointer;
            background-image: url('<%= path %>/assets/icon_cross.svg');
            background-size:50%;
            background-position:center center;
            background-repeat: no-repeat;
        }

        @media(min-width:620px){
            position:absolute;
            .gvr-lightbox__close{
                top:0;
                right:-50px;
            }
        }
    }
    &:not(.gvr-strip--trailerplaying){
        .gvr-lightbox__container{
            animation:hideTrailer 200ms linear;
            visibility: hidden;
            opacity:0;
            
        }
    }
    &.gvr-strip--trailerplaying{
        .gvr-lightbox__container{
            visibility: visible;
            opacity:1;
            animation:revealTrailer 200ms linear;
            .gvr-lightbox__video{
                display:block;
            }
        }
    }

    @keyframes revealTrailer{
        0%{
            display:block;
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }

    @keyframes hideTrailer{
        0%{
            visibility: visible;
            opacity:1;
        }
        99%{
            visibility: visible;
            opacity:0;
            
        }
        100%{
            visibility: hidden;
        }
    }



    &.gvr-strip--how {
        background-color: #44c5e0;
        @include mq(desktop){
            overflow: visible;
        }
    }

    &.gvr-strip--6x9 {
        background-image: url('<%= path %>/assets/project_6x9.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;
        &:before{
            position: absolute;
            content:'';
            display:block;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:rgba(255,255,255,0.5)
        }
        .gvr-vr__extras__right li > a{
            background:#333;
            color:#fff;
        }
    }

    &.gvr-strip--underworld {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/project_underworld.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn{
            background-color:#fff;
            color:#333;
            background-image:url('<%= path %>/assets/icon_plus-black.svg')
        }
    }

    &.gvr-strip--about {
        color: white;
        background-color: #b81b66;
        
        background-image: url('<%= path %>/assets/headset_face.png');
        background-size: 80% auto;
        background-position: left bottom;
        background-repeat: no-repeat;

        h2{
            margin:0;
        }
        
        @include mq(desktop) {
            background-size: auto 70%;
        }
        h3{
            font-size:21px;
            font-family: "Guardian Egyptian Web", Georgia, serif;
            line-height:24px;
            font-weight:bold;
            margin-top:30px;
            margin-bottom:9px;
        }
    }

    &.gvr-strip--project.gvr-strip--active{
        .gvr-vr__expandbtn{
            display:none;
        }  
        .gvr-vr__extras,.gvr-vr__description{
            display:block;
            // animation: stripReveal 1s linear;
        }
        .gvr-vr__trailerbtn,.gvr-vr__previewbtn{
            display:inline-block;
            // animation: stripRevealButtons 1s linear;
        }
        .gvr-project--container{
            max-height:none;
            // animation: stripExpand 1s linear;
        }
    }
}

@keyframes stripExpand{
    0%{
        max-height:300px;
    }
    60%{
        max-height:800px;
    }
}

@keyframes stripShrink{
    0%{
        max-height:800px;
    }
    60%{
        max-height:300px;
    }
}

@keyframes stripHide{
    0%{
        display:block;
        opacity:1;
    }
    30%{
        opacity:1;
    }
    80%{
        opacity:0;
        display:none;
    }
}

@keyframes stripReveal{
    0%{
        display:block;
        opacity:0
    }
    30%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
}
@keyframes stripRevealButtons{
    0%{
        display:inline-block;
        opacity:0
    }
    30%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
}

.gvr-cf {
    @include cf;
}

.gvr-big {
    @include f-sans;
    font-weight: 200;
    line-height: 39px;
    font-size: 36px;
    margin:0;
    @include mq(tablet) {
        font-size: 42px;
        line-height:48px;
    }
}

.gvr-content,
.gvr-header__inner {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

    padding: 12px 10px;
    @include mq(mobileLandscape) {
        padding: 18px 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.gvr-header__background {
    background-image: url('<%= path %>/assets/video_poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.gvr-header__background video {
    display: none;
     @include mq(tablet) {
         display: block;
     }
}

.gvr-content {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2000px;
        background-color: transparentize(white, 0.8);
    }
    &::before {
        right: 100%;
    }
    &::after {
        left: 100%;
    }
}

.gvr-how {
    padding-bottom:30px;
    color:$gvrPurple;
    @include f-sans;
    @include mq(tablet){
        padding-bottom:48px;
    }
    @include mq(desktop){
        .gvr-big{
            margin-right:280px;
        }
    }
    @include mq(leftCol){
        padding-bottom:36px;
    }
    
}

.gvr-how__img {
    position: absolute;
    bottom:0;
    right:0;
    width:180px;
    opacity:0.4;

    @include mq(tablet) {
        width:200px;
        right:20px;
    }
    @include mq(desktop) {
        width:280px;
        right:20px;
        opacity:1;
    }
}
.faq-container{
    overflow: hidden;
    @include mq(tablet){
        margin-top:60px;
    }
    a{
        color:inherit;
        text-decoration: underline;
    }
}
.gvr-reading,
.gvr-cols {
    @include cf;

    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(tablet) {
        margin-right: -20px;
    }
}

.gvr-cols{
    @include mq(tablet) {
        float:left;
        width:50%;
        margin-right:0;
    }
}

.gvr-cols__item {
    margin-top: 24px;
    @include mq(tablet) {
        padding-right:20px;
        &:first-child{
            margin-top:0;
            h3{
                margin-top:0;
            }
        }
    }
    @include mq(leftCol){
        p{
            font-size:18px;
        }
    }
}

.gvr-reading {
    @include f-sans;
    font-size: 15px;
}

.gvr-reading__item {
    line-height:1em;
    & > a {
        border-top: 1px solid;
        padding-top:3px;
        margin-bottom:18px;
        color:inherit;
        display: inline-block;
        text-decoration: none;
        width:100%;
        &:hover{
            text-decoration: underline;
        }
    }
    @include mq(tablet) {
        width: (100% / 3);
        max-width:240px;
        box-sizing: border-box;
        padding-right: 20px;
        float: left;
        & > a {
            min-height:48px;
        }
    }
    @include mq(leftCol){
        // max-width:none;
        font-size:18px;
        line-height:21px;
        & > a{
            margin-bottom:24px;
        }
    }
}

.gvr-about {
    @include mq(desktop) {
        padding-left: 260px;
    }
}





