@import "mq";
@import "fonts";

$gvrPurple: #3F2961;
$gvrBlue: #4BC6DF;
$gvrPink: #333;

@mixin cf {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@import "header";
@import "vr";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow: hidden;
}


button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 999px;
    height: 36px;
    outline: none;
    @include f-sans;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
    }
}



h2 {
    font-size: 24px;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    line-height: 1em;

    @include mq(tablet) {
        font-size: 30px;
    }
}


.gvr-strip {
    overflow-x: hidden;


    &.gvr-strip--project {
        position: relative;
        .gvr-project--container {
            min-height: 240px;
            max-height: 300px;
            overflow: hidden;
            will-change: max-height;
        }

        .gvr-vr__extras,
        .gvr-vr__trailerbtn,
        .gvr-vr__previewbtn,
        .gvr-vr__description {
            display: none;
        }
    }

    .gvr-lightbox__container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);

        .gvr-lightbox__video {
            max-width: 300px;
            width: 100%;
            background: #333;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            display: none;
            .gvr-video__container {
                width: 100%;
                padding-bottom: 56.25%;
            }
            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            @include mq(tablet) {
                max-width: 480px;
            }
            @include mq(desktop) {
                max-width: 620px;
            }
            @include mq(leftCol) {
                max-width: 780px;
            }
            @include mq(wide) {
                max-width: 940px;
            }
        }
        .gvr-lightbox__close {
            width: 40px;
            height: 40px;
            background: #ccc;
            border-radius: 20px;
            position: absolute;
            top: -50px;
            right: 0;
            cursor: pointer;
            background-image: url('<%= path %>/assets/icon_cross.svg');
            background-size: 50%;
            background-position: center center;
            background-repeat: no-repeat;
        }

        @media(min-width:620px) {
            position: absolute;
            .gvr-lightbox__close {
                top: 0;
                right: -50px;
            }
        }
    }
    &:not(.gvr-strip--trailerplaying) {
        .gvr-lightbox__container {
            animation: hideTrailer 200ms linear;
            visibility: hidden;
            opacity: 0;
        }
    }
    &.gvr-strip--trailerplaying {
        .gvr-lightbox__container {
            visibility: visible;
            opacity: 1;
            animation: revealTrailer 200ms linear;
            .gvr-lightbox__video {
                display: block;
            }
        }
    }

    @keyframes revealTrailer {
        0% {
            display: block;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes hideTrailer {
        0% {
            visibility: visible;
            opacity: 1;
        }
        99% {
            visibility: visible;
            opacity: 0;
        }
        100% {
            visibility: hidden;
        }
    }



    &.gvr-strip--how {
        background-color: #161616;
        overflow: visible;
        @include mq(desktop) {}
    }

    &.gvr-strip--6x9 {
        background-image: url('<%= path %>/assets/project_6x9.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;
        color: #333;
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.5)
        }
        .gvr-vr__extras__right li>a {
            background: #333;
            color: #fff;
        }
    }

    &.gvr-strip--underworld {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/project_underworld.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--first-impressions {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/first_impressions_02.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--hustle {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/hustle_bg.jpg');
        background-size: cover;
        background-position: 0 28%;
        position: relative;

        &.gvr-strip--active {
            background-position: 0 0;
        }

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--first-limbo {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/limbo.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        &.gvr-strip--active {
            background-size: contain;
        }

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--seaprayer {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/seaprayerbackground.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--theparty {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/autism.png');
        // background-size: contain;
        background-position: top center;
        position: relative;
        background-repeat: no-repeat;

        @include mq($until:desktop) {
           background-size: cover;
        }

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--crimescene {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/crimescene.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--arctic {
        color: white;
        background-color: #333;
        background-image: url('<%= path %>/assets/arctic_03.jpg');
        background-size: cover;
        background-position: top center;
        position: relative;

        .gvr-vr__expandbtn {
            background-color: #fff;
            color: #333;
            background-image: url('<%= path %>/assets/icon_plus-black.svg')
        }

        .gvr-content::before,
        .gvr-content::after {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.gvr-strip--about {
        color: white;
        background-color: #b81b66;

        background-image: url('<%= path %>/assets/headset_face.png');
        background-size: 80% auto;
        background-position: left bottom;
        background-repeat: no-repeat;

        h2 {
            margin: 0;
        }

        @include mq(desktop) {
            background-size: auto 70%;
        }
        h3 {
            font-size: 21px;
            font-family: "Guardian Egyptian Web", Georgia, serif;
            line-height: 24px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 9px;
        }
    }

    &.gvr-strip--project.gvr-strip--active {
        .gvr-vr__expandbtn {
            display: none;
        }
        .gvr-vr__extras,
        .gvr-vr__description {
            display: block; // animation: stripReveal 1s linear;
        }
        .gvr-vr__trailerbtn,
        .gvr-vr__previewbtn {
            display: inline-block; // animation: stripRevealButtons 1s linear;
        }
        .gvr-project--container {
            max-height: none; // animation: stripExpand 1s linear;
        }
    }
}

@keyframes stripExpand {
    0% {
        max-height: 300px;
    }
    60% {
        max-height: 800px;
    }
}

@keyframes stripShrink {
    0% {
        max-height: 800px;
    }
    60% {
        max-height: 300px;
    }
}

@keyframes stripHide {
    0% {
        display: block;
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        display: none;
    }
}

@keyframes stripReveal {
    0% {
        display: block;
        opacity: 0
    }
    30% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

@keyframes stripRevealButtons {
    0% {
        display: inline-block;
        opacity: 0
    }
    30% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

.gvr-cf {
    @include cf;
}

.gvr-big {
    // @include f-sans;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: bolder; // line-height: 39px;
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 10px; // border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    text-align: left; // max-width: 600px;
    color: #fff;
    @include mq($until: desktop) {
        font-size: 28px;
    }
}

.gvr-content,
.gvr-header__inner {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

    padding: 12px 10px;
    @include mq(mobileLandscape) {
        padding: 18px 20px;
    }

    @each $bp in (tablet,
    desktop,
    leftCol,
    wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.gvr-header__background {
    background-image: url('<%= path %>/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.gvr-header__background video {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.gvr-content {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2000px;
        background-color: transparentize(white, 0.95);
    }
    &::before {
        right: 100%;
    }
    &::after {
        left: 100%;
    }
}

.gvr-vr__topbtn {
    background-color: #161616;
    color: #fff;
    padding: 0 18px 0 36px;
    background-image: url(./assets/icon_arrow-white.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-top: 10px;
    margin-right: 10px;
}

.gvr-vr__topbtnblue {
    padding: 0 18px 0 36px;
    background-image: url(./assets/icon_arrow-black.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-top: 10px;
    margin-right: 10px;
    color: #000;
    background-color: #43C6E1;
}

.light {
    background-color: #333;
}

.blue {
     background-color: #43C6E1;
}

.gvr-how {
    padding-bottom: 30px;
    color: #000; 
 
    @include mq(leftCol) {
        padding-bottom: 36px;
    }
}

.asset-wrap {
    display: inline-block;
    float: right;
    @include mq($until: desktop) {
        float: left;
        margin-left: 5px;
        margin-top: 30px;
    }
}

.gvr-how__asset {
    display: inline-block;
    text-align: center; 
    img {
        margin: 0 auto;
        position: relative;
        top: 10px;
    }
    
}

.phone {
    float: right;
    @include mq($from: leftCol) {
        margin-top: 20px;
        width: 520px;
    }
    @include mq($until:leftCol) {
        width: 320px;
    }
}

.headset {
    width: 350px;
    position: relative;
    top: 25px;
    left: 30px;
}

.user {
    width: 230px;
}

.gvr-how__copy {
    padding: 2px 10px;
    margin: 0 auto;
    text-align: center; 
    color: #fff;
}

.gvr-how__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    opacity: 0.4;

    @include mq(tablet) {
        width: 200px;
        right: 20px;
    }
    @include mq(desktop) {
        width: 280px;
        right: 20px;
        opacity: 1;
    }
}

.gvr-strip--headset {
    overflow: hidden;
    background: #333;
    position: relative; 
}



.headset-copy,
.episodes-copy {
    margin-bottom: 5px;
    color: #fff;
}

.how-main-copy,
.headset-main-copy,
.episodes-main-copy {
    text-align: left;
    color: #ccc;
    display: inline-block;
    vertical-align: top;
    width: 500px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
    padding-top: 2px;
    // border-top: solid 1px rgba(255, 255, 255, 0.2);
    @include mq($until: desktop) {
        width: 100%;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 25px;
    }
    strong {
        // font-style: italic;
        // color: #43C6E1;
        // font-weight: bolder;
    }
}

.episodes-main-copy {
    margin-bottom: 60px;
}

.gvr-headset-asset {
    display: inline-block;
    width: 480px;
    position: absolute;
    right: 80px;
    top: 40px;

    @include mq($until: desktop) {
        position: relative;
        width: 320px;
        bottom: 0;
        left: -8px;
    }
}

.gvr-strip--episodes {
    background: #161616;
    @include mq($from: desktop) {
        background-image: url(./assets/episodes.png);
        background-size: contain;
        background-position: top right;
        background-repeat: no-repeat;
        position: relative;
    }
}

.faq-container {
    overflow: hidden;
    @include mq(tablet) {
        margin-top: 60px;
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.gvr-reading,
.gvr-cols {
    @include cf;

    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(tablet) {
        margin-right: -20px;
    }
}

.gvr-cols {
    @include mq(tablet) {
        float: left;
        width: 50%;
        margin-right: 0;
    }
}

.gvr-cols__item {
    margin-top: 24px;
    @include mq(tablet) {
        padding-right: 20px;
        &:first-child {
            margin-top: 0;
            h3 {
                margin-top: 0;
            }
        }
    }
    @include mq(leftCol) {
        p {
            font-size: 18px;
        }
    }
}

.gvr-reading {
    @include f-sans;
    font-size: 15px;
}

.gvr-reading__item {
    line-height: 1em;
    &>a {
        border-top: 1px solid;
        padding-top: 3px;
        margin-bottom: 18px;
        color: inherit;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        &:hover {
            text-decoration: underline;
        }
    }
    @include mq(tablet) {
        width: (100% / 3);
        max-width: 240px;
        box-sizing: border-box;
        padding-right: 20px;
        float: left;
        &>a {
            min-height: 48px;
        }
    }
    @include mq(leftCol) {
        font-size: 18px;
        line-height: 21px;
        &>a {
            margin-bottom: 24px;
        }
    }
}

.gvr-about {
    @include mq(desktop) {
        padding-left: 260px;
    }
}